Repository junhoKims/utils-dev-krak, changes with the labels that .github/labeler.yml gives for each.
All labels: github, dependencies, packages

docs: readme 업데이트
  README.md
Labels: none

chore: vitepress 설치
  package.json
  pnpm-lock.yaml
Labels: dependencies

feat: vitepress config 셋업
  .gitignore
  docs/.vitepress/config.ts
  docs/ADR/TEMPLATES.md
  docs/ADR/setup-biome.md
  docs/index.md
Labels: none

docs: 함수 md 작성
  docs/common/get-is-client.md
  docs/common/introdution.md
  docs/common/sum.md
  docs/react/introdution.md
  docs/react/use-isomorphic-layout-effect.md
Labels: none

chore: 0.0.1
  package.json
Labels: none

chore: 0.0.2
  package.json
Labels: none

chore: node 버전 변경
  package.json
Labels: none

feat: 릴리즈노트 + vercel 배포 github action
  .github/draft-release-note-config.yml
  .github/workflows/create-release-note-drafted.yaml
  .github/workflows/npm-deploy-utils.yaml
  .github/workflows/vercel-deploy-utils-docs-prod.yaml
Labels: github

chore: 0.0.3
  package.json
Labels: none

fix: github action 스크립트 수정
  .github/workflows/create-release-note-drafted.yaml
  .github/workflows/vercel-deploy-utils-docs-prod.yaml
Labels: github

feat: vercel 배포 무시 스크립트 추가
  vercel-ignore-build-step.sh
Labels: none

chore: 0.0.4
  package.json
Labels: none

fix: main 배포 시, vercel 돌아가지 않도록 변경
  vercel-ignore-build-step.sh
Labels: none

docs: README 수정
  README.md
Labels: none

chore: 0.0.5
  package.json
Labels: none

fix: build ignore step bash 수정
  vercel-ignore-build-step.sh
Labels: none

chore: 0.0.6
  package.json
Labels: none

feat: vitepress 문서에 기본 검색 기능 추가
  docs/.vitepress/config.ts
Labels: none

fix: biome rule 'noExplicitAny' off 처리
  biome.json
  package.json
Labels: none

feat: common utils 함수 및 문서 작성
  @types/index.d.ts
  docs/common/chunk.md
  docs/common/clone-deep.md
  docs/common/flatten.md
  docs/common/get-is-client.md
  docs/common/get-is-server.md
  docs/common/is-empty.md
  docs/common/is-nil.md
  docs/common/object-keys.md
  docs/common/omit.md
  docs/common/pick.md
  docs/common/sum.md
  docs/common/with-comma.md
  package.json
  src/common/chunk.test.ts
  src/common/chunk.ts
  src/common/clone-deep.test.ts
  src/common/clone-deep.ts
  src/common/flatten.test.ts
  src/common/flatten.ts
  src/common/get-is-server.test.ts
  src/common/get-is-server.ts
  src/common/index.ts
  src/common/is-empty.test.ts
  src/common/is-empty.ts
  src/common/is-nil.test.ts
  src/common/is-nil.ts
  src/common/object-keys.test.ts
  src/common/object-keys.ts
  src/common/omit.test.ts
  src/common/omit.ts
  src/common/pick.test.ts
  src/common/pick.ts
  src/common/sum.test.ts
  src/common/sum.ts
  src/common/with-comma.test.ts
  src/common/with-comma.ts
  tsconfig.build.json
  tsconfig.json
Labels: none

fix: testing-library/jest-dom 타입, tsconfig에 추가
  tsconfig.json
Labels: none

feat: react utils 함수 및 문서 작성
  docs/react/combine-refs.md
  docs/react/create-safe-context.md
  docs/react/use-debounce-effect.md
  docs/react/use-isomorphic-layout-effect.md
  src/react/combine-refs.test.tsx
  src/react/combine-refs.ts
  src/react/create-safe-context.test.tsx
  src/react/create-safe-context.ts
  src/react/index.ts
  src/react/use-debounce-effect.test.tsx
  src/react/use-debounce-effect.ts
  src/react/use-isomorphic-layout-effect.test.tsx
Labels: none

feat: vitepress 문서에 font pretendard 추가
  docs/.vitepress/config.ts
  docs/.vitepress/theme/fonts.css
  docs/.vitepress/theme/index.js
Labels: none

feat: vitepress logo 작성, 파비콘 적용
  docs/index.md
  docs/logo.svg
Labels: none

chore: 0.1.0
  package.json
Labels: none

fix: vitepress svg logo가 빌드 시 출력되지 않는 이슈 수정
  docs/.vitepress/config.ts
  docs/index.md
  docs/logo.svg
Labels: none

chore: 0.1.1
  package.json
Labels: none

feat: lisense 추가
  package.json
Labels: none

chore: 0.1.2
  package.json
Labels: none

feat: 간단한 local-storage 작성
  src/common/local-storage.ts
Labels: none

feat: Data Model을 제어하는 browser-storage 구현
  src/common/browser-storage/browser-storage.ts
  src/common/browser-storage/constants.ts
  src/common/browser-storage/index.ts
  src/common/local-storage.ts
Labels: none

fix: 리턴값에 null 포함되도록 수정
  src/common/browser-storage/browser-storage.ts
Labels: none

feat: browser-storage 유틸함수 단위 테스트코드 작성
  src/common/browser-storage/browser-storage.test.ts
Labels: none

fix: browserStorage 함수, export index 추가
  src/common/index.ts
Labels: none

fix: BrowserStorage, key 인자 제네릭 타입 수정
  src/common/browser-storage/browser-storage.ts
Labels: none

docs: BrowserStorage, 문서 작성
  docs/common/browser-storage/browser-storage-mapper.md
  docs/common/browser-storage/browser-storage.md
Labels: none

feat: PromiseAllSettledValidator 함수 작성
  src/react/promise-settled-validator.tsx
Labels: none

chore: 0.1.3
  package.json
Labels: none

feat: measureFPS 함수 구현
  src/common/measureFPS.test.ts
  src/common/measureFPS.ts
Labels: none

feat: 스톱워치 팩토리 함수 구현
  package.json
  src/common/create-stop-watch.test.ts
  src/common/create-stop-watch.ts
Labels: none

.github/labeler.yml:

# 해당 파일을 참고하여 라벨링 수행
# https://github.com/actions/labeler

deploy:
  - base-branch: ['^main', 'main']
  
feat:
  - head-branch: ['^feat', 'feat/']

fix:
  - head-branch: ['^fix', 'fix/']

chore:
  - head-branch: ['^chore', 'chore/']

test:
  - head-branch: ['^test', 'test/']
  - changed-files:
    - any-glob-to-any-file: '**/*.test.{ts,tsx,js,jsx}'

style:
  - head-branch: ['^style', 'style/']

refactor:
  - head-branch: ['^refactor', 'refactor/']

docs:
  - head-branch: ['^docs', 'docs/']
  - changed-files:
    - any-glob-to-any-file: '**/*.md'

github:
  - changed-files:
    - any-glob-to-any-file: '.github/**'

dependencies:
  - changed-files:
    - any-glob-to-any-file: 'pnpm-lock.yaml'

packages:
  - changed-files:
    - any-glob-to-any-file: 'packages/**'
